@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.pinimg.com/originals/71/71/9c/71719c7021f269132cb2f82e8487b2c6.jpg" class="d-block w-100" alt="Image 1">
            <div class="carousel-caption d-none d-md-block">
                <h5>Image 1</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis nisi leo.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/originals/b8/00/f5/b800f523231e10f4fc8af784e8ef4711.jpg" class="d-block w-100" alt="Image 2">
            <div class="carousel-caption d-none d-md-block">
                <h5>Image 2</h5>
                <p>ellentesque euismod hendrerit augue. Integer at vestibulum odio. Cras leo enim, commodo vel cursus sit amet, sollicitudin sed velit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://s1.1zoom.me/b5050/47/New_Zealand_Scenery_Coast_Sunrises_and_sunsets_515843_1920x1080.jpg" class="d-block w-100" alt="Image 3">
            <div class="carousel-caption d-none d-md-block">
                <h5>Image 3</h5>
                <p>Donec maximus semper ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin non tempus mauris, condimentum pulvinar nisl. Vestibulum cursus nisi sit amet sodales egestas. Mauris fringilla leo sed elit aliquam, a efficitur augue luctus. Vestibulum in eros sit amet erat elementum lacinia.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row">
    <div class="col">

    </div>

    <div class="col">
        <h1>About us</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis nisi leo. Pellentesque euismod hendrerit augue. Integer at vestibulum odio. Cras leo enim, commodo vel cursus sit amet, sollicitudin sed velit. Donec maximus semper ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin non tempus mauris, condimentum pulvinar nisl. Vestibulum cursus nisi sit amet sodales egestas. Mauris fringilla leo sed elit aliquam, a efficitur augue luctus. Vestibulum in eros sit amet erat elementum lacinia.</p>
    </div>
</div>

<hr />

<div class="row"> 
    <div class="col">
        <h1>Our history</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis nisi leo. Pellentesque euismod hendrerit augue. Integer at vestibulum odio. Cras leo enim, commodo vel cursus sit amet, sollicitudin sed velit. Donec maximus semper ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin non tempus mauris, condimentum pulvinar nisl. Vestibulum cursus nisi sit amet sodales egestas. Mauris fringilla leo sed elit aliquam, a efficitur augue luctus. Vestibulum in eros sit amet erat elementum lacinia.</p>
    </div>

    <div class="col">
    </div>
</div>